/*EDIT NEW*/
.input-group.date .input-group-addon.kv-date-calendar{
    background: transparent !important;
    border:0 !important;
}
.input-group.date .krajee-datepicker{
    border:0 !important;
    background: transparent !important;
}
.header-nav ul li a:hover, .header-nav ul li a:focus{
    background: transparent!important;
    text-decoration: underline;
    color:yellow !important;
}
.registr-link:hover, .registr-link:focus{
    color:yellow !important;
}