/*EDIT NEW*/
.input-group.date{
    text-align: center;
    width: 100%;
}
.input-group.date .input-group-addon.kv-date-calendar{
    background: transparent !important;
    border:0 !important;
    display: inline-block;
}
.input-group.date .krajee-datepicker{
    border:0 !important;
    background: transparent !important;
    box-shadow: none !important;
    width: 9%;
    display: inline-block;
    float: none;
}
.header-nav ul li a:hover, .header-nav ul li a:focus{
    background: transparent!important;
    text-decoration: underline;
    color:yellow !important;
}
.registr-link:hover, .registr-link:focus{
    color:yellow !important;
}
.blue-link{
    font-weight: 700;
}