@font-face {
  font-family: 'SFU';
  src: url('../fonts/sf-ui-text-regular-webfont.eot');
  src: url('../fonts/sf-ui-text-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sf-ui-text-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SFU';
  src: url('../fonts/sf-ui-text-light-webfont.eot');
  src: url('../fonts/sf-ui-text-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sf-ui-text-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SFU';
  src: url('../fonts/sf-ui-text-bold-webfont.eot');
  src: url('../fonts/sf-ui-text-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sf-ui-text-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*colors*/
/* Mixins dddd*/
.relative {
  position: relative;
}
.top-50 {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.left-50 {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.all-50 {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mb-90px {
  margin-bottom: 90px !important;
}
html {
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}
body {
  overflow-x: hidden;
  font: 14px 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  width: 100%;
  background: #f9fdff;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus {
  outline: none !important;
}
.mb-80px {
  margin-bottom: 80px;
}
.mb-75px {
  margin-bottom: 75px;
}
.mb-70px {
  margin-bottom: 70px;
}
.mb-65px {
  margin-bottom: 65px;
}
.mb-60px {
  margin-bottom: 60px;
}
.mb-55px {
  margin-bottom: 55px;
}
.mb-50px {
  margin-bottom: 50px;
}
.mb-45px {
  margin-bottom: 45px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-30px {
  margin-bottom: 30px;
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-5px {
  margin-bottom: 5px;
}
/*CSS*/
h1,
.h1 {
  margin: 0px 0 20px;
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #155873;
}
.page-title {
  font-family: 'SFU', sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #292a2d;
  margin: 30px 0 50px;
}
h2,
.h2 {
  margin: 0px 0 20px;
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #155873;
}
h3,
.h3 {
  margin: 0px 0 20px;
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #155873;
}
h4,
.h4 {
  margin: 0px 0 20px;
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #155873;
}
h5,
.h5 {
  margin: 0px 0 20px;
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #155873;
}
p {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #5c8596;
}
p.white {
  color: #fff;
}
a {
  color: #fd9b00;
}
a:hover,
a:focus {
  text-decoration: none;
}
.fs-16px {
  font-size: 16px;
}
.fs-18px {
  font-size: 18px;
}
.fs-20px {
  font-size: 20px;
}
.fs-24px {
  font-size: 24px;
}
ul {
  list-style: none !important;
  margin-bottom: 20px;
  padding-left: 0;
}
ul li {
  background-image: url('../images/circle.jpg');
  background-position: 0 9px;
  background-repeat: no-repeat;
  padding-left: 20px;
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #5c6c79;
}
ul.hyphen {
  list-style: none !important;
  margin-bottom: 20px;
}
ul.hyphen li {
  background-image: url('../images/hyphen.jpg');
  background-position: 0 10px;
  background-repeat: no-repeat;
  padding-left: 25px;
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #5c6c79;
}
ul.check {
  list-style: none !important;
  margin-bottom: 20px;
}
ul.check li {
  background-image: url('../images/check-list.png');
  background-position: 0 0px;
  background-repeat: no-repeat;
  padding-left: 25px;
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #5c6c79;
}
ol {
  margin-bottom: 20px;
  padding-left: 20px;
}
ol li {
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #444444;
}
ul.list-unstyled {
  list-style: none !important;
}
ul.list-unstyled li {
  padding-left: 0 !important;
  background: none !important;
}
.btn-default {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  padding: 14px 30px 16px;
  background: #ff1654;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.btn-default:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-default:hover,
.btn-default:focus {
  color: #284789;
  text-decoration: none;
  opacity: 0.8;
  background: #fdb300;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-blue {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: #fff;
  color: #4054b2;
  border-radius: 5px;
  padding: 9px 25px 10px;
  text-decoration: none;
}
.btn-blue:hover,
.btn-blue:focus {
  opacity: 0.8;
}
.btn-pink {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: #fff;
  color: #ff0066;
  border-radius: 5px;
  padding: 9px 25px 10px;
  text-decoration: none;
}
.btn-pink:hover,
.btn-pink:focus {
  opacity: 0.8;
}
.btn-yellow {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;
  line-height: 18px;
  border-radius: 6px;
  padding: 10px 20px 5px;
}
.btn-yellow:hover,
.btn-yellow:focus {
  color: #fff;
}
.btn-violet {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;
  line-height: 18px;
  border-radius: 6px;
  padding: 10px 20px 5px;
}
.btn-violet:hover,
.btn-violet:focus {
  color: #fff;
}
.btn-white {
  border-radius: 6px;
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid #fff;
  line-height: 18px;
  padding: 10px 20px 5px;
}
.btn-white:hover,
.btn-white:focus {
  background: #fff;
  border-color: #fff;
  color: #000;
}
.btn-green {
  background: #58d0bb;
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 60px;
}
.btn-lg {
  font-size: 22px !important;
  line-height: 25px !important;
  padding: 14px 25px 10px;
}
.btn-md {
  font-size: 17px !important;
  line-height: 20px !important;
  padding: 12px 20px 8px;
}
.btn-sm {
  font-size: 12px !important;
  line-height: 15px !important;
  padding: 8px 20px 4px;
}
.small-title {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #a05f26;
  text-transform: uppercase;
}
.table tr th {
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
#header {
  padding: 30px 0 50px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.search-form .form-control {
  float: left;
  width: 50%;
}
.left-container {
  height: 100vh;
  width: 50%;
  float: left;
  position: relative;
  background-image: url('../images/auto1.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right-container {
  float: left;
  width: 50%;
  height: 100vh;
  position: relative;
  background: #fff;
}
.left-abs {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 400px;
  text-align: center;
}
.logo-one {
  display: inline-block;
}
.logo-one img {
  margin: 0 auto;
}
.welcome {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
}
.no-account {
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.no-account a {
  color: #fff;
  text-decoration: none;
}
.no-account a:hover,
.no-account a:focus {
  text-decoration: underline;
}
.left-bottom-block {
  position: absolute;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 82%;
}
.form-title {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #155873;
  letter-spacing: 1;
}
.form-group label {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14ox;
  color: #6b95a6;
}
.form-group .form-control {
  border: 1px solid #d9e7ed;
  height: 43px;
  margin-bottom: 3px;
}
.form-group .form-dop-info {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14ox;
  color: #6b95a6;
}
.main-form-registration .btn {
  width: 100%;
}
.main-form-registration p {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8aabb9;
}
.blue-link {
  color: #8aabb9;
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.right-abs {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 400px;
}
.register-page #header {
  background: #176181;
  background: -moz-linear-gradient(left, #176181 2%, #247ba0 49%, #247ba0 49%, #176181 100%);
  background: -webkit-linear-gradient(left, #176181 2%, #247ba0 49%, #247ba0 49%, #176181 100%);
  background: linear-gradient(to right, #176181 2%, #247ba0 49%, #247ba0 49%, #176181 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#176181', endColorstr='#176181', GradientType=1);
  padding: 15px 30px;
}
.register-page .logo {
  margin-top: 7px;
  display: inline-block;
}
.registr-link {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  background-image: url('../images/registr.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 50px;
  min-height: 38px;
  line-height: 38px;
}
.page-subtitle {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8aabb9;
}
.form-group label {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #5c8596;
}
.form-group .form-control {
  border-color: #d9e7ed;
  color: #8aabb9;
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.select2-container {
  width: 100%  !important;
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8aabb9;
}
.select2-container .select2-choice {
  height: 50px;
  line-height: 50px;
  border-color: #d9e7ed;
  border-radius: 5px;
  padding-left: 14px;
}
.select2-container .select2-choice .select2-arrow {
  top: 11px;
  right: 10px;
}
.select2-drop {
  border-color: #d9e7ed;
  border-radius: 5px;
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #65828e;
}
.select2-results li {
  padding-left: 0;
}
.select2-results .select2-highlighted {
  background: #4fb5e0;
}
.border-bottom {
  border-bottom: 1px solid #d9e7ed;
}
.add-input {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #4fb5e0;
  display: inline-block;
}
.check {
  position: relative;
  padding-left: 30px;
  min-height: 20px;
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6b95a6 !important;
}
.check.checked .checkbox {
  background-position: 0 100%;
}
.check.checked .radio {
  background-position: 0 100%;
}
.check input {
  opacity: 0;
}
.checkbox {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url('../images/check.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
}
.radio {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url('../images/radio.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
}
.input-password {
  border: 1px solid #d9e7ed;
  background: #fff;
  border-radius: 5px;
}
.input-password .form-control {
  width: 93%;
  float: left;
  border: 0 !important;
  box-shadow: none !important;
}
.input-password .vis-password {
  line-height: 46px;
  color: #c4d6dd;
}
.pass-name {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #92ce5f;
}
.btn-full {
  width: 100%;
}
#main-menu li {
  display: inline-block;
}
/**CHOOSE**/
.choose-page .left-container {
  background-image: url('../images/choose.jpg');
  background-position: top center;
  background-repeat: no-repeat;
}
.chp-one {
  display: table;
  background: #ffffff;
  width: 100%;
  cursor: pointer;
  padding: 20px;
  border: 1px solid #d9e7ed;
  border-radius: 4px;
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #155873;
  margin-bottom: 30px;
}
.chp-one span {
  display: table-cell;
  vertical-align: middle;
}
.chp-one span:first-child {
  width: 93%;
}
.chp-one.active {
  -webkit-box-shadow: 0px 5px 17px 0px rgba(169, 203, 218, 0.3);
  -moz-box-shadow: 0px 5px 17px 0px rgba(169, 203, 218, 0.3);
  box-shadow: 0px 5px 17px 0px rgba(169, 203, 218, 0.3);
}
.chp-one.active .chp-icon {
  opacity: 1;
}
.chp-icon {
  opacity: 0;
}
.prev-lesson .glyphicon {
  color: #fff;
  background: #c2d8e1;
  padding: 10px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}
.pl-text {
  float: left;
}
.pl-text span {
  display: block;
}
.p-text {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8aabb9;
}
.p-lesson {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #155873;
}
.next-lesson .glyphicon {
  color: #fff;
  background: #36b1e5;
  padding: 10px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
  margin-top: 3px;
}
.next-lesson .pl-text {
  float: right;
  text-align: right;
}
.next-lesson .p-lesson {
  color: #36b1e5;
}
.lesson-date {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8aabb9;
}
.lesson-date span {
  color: #155873;
}
.header-nav {
  margin-top: px;
}
.header-nav ul {
  margin-bottom: 0;
}
.header-nav ul li {
  display: inline-block;
}
.header-nav ul li a {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.white-block {
  background: #fff;
  padding: 40px 0;
  text-align: center;
  border: 1px solid #d9e7ed;
  border-radius: 5px;
}
.wb-info {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #8aabb9;
}
.wb-title {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #155873;
}
.btn-green {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 60px;
  background: #84d17a;
}
.footer-block {
  text-align: center;
}
.fb-info {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #8aabb9;
}
.fb-title {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #155873;
}
.fb-title span {
  color: #247ba0;
}
.fb-orange {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #f0ad43;
}
.lesson-page #content {
  height: 100vh;
  position: relative;
}
.lesson-page #footer {
  position: absolute;
  width: 100%;
}
.lesson-page #footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #d9e7ed;
}
.ruk-link {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #36b1e5;
  margin: 0 30px;
  border-bottom: 1px dashed #36b1e5;
  position: relative;
}
.ruk-link:before {
  content: '';
  border-right: 1px solid #d9e7ed;
  position: absolute;
  top: 0;
  right: -30px;
  height: 100%;
}
.prep-link {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #83d079;
  margin: 0 30px;
  border-bottom: 1px dashed #83d079;
}
.prep-link:hover,
.ruk-link:hover,
.prep-link:focus,
.ruk-link:focus {
  border-color: transparent;
}
.teacher-settings-container {
  border-top: 1px solid #d9e7ed;
  padding: 40px 0;
}
.teacher-settings-container .row {
  display: table;
  width: 100%;
}
.teacher-settings-container .row .col-sm-2,
.teacher-settings-container .row .col-sm-1 {
  display: inline-block;
  vertical-align: middle;
  float: none !important;
}
.class-block {
  position: relative;
}
.class-block:hover .class-close,
.class-block:focus .class-close {
  color: #fff;
}
.class-link {
  display: inline-block;
  height: 70px;
  width: 70px;
  border: 1px solid #d9e7ed;
  border-radius: 8px;
  position: relative;
}
.class-link span {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #155873;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.class-link:hover,
.class-link:focus {
  background: #ff1654;
  border-color: #ff1654;
}
.class-link:hover span,
.class-link:focus span {
  color: #fff;
}
.class-close {
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 3px;
  color: #fb4840;
}
.with-border {
  border-top: 1px solid #d9e7ed;
  padding-top: 50px;
}
.rt-header {
  border: 1px solid #d9e7ed;
  background: #eef6f9;
  padding: 15px 0;
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
}
.rt-title {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #155873;
  line-height: 20px;
}
.rt-date {
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #5c8596;
}
.rt-table {
  border: 1px solid #d9e7ed;
  border-radius: 0 0 8px 8px;
  border-top: 0;
}
.rt-table table {
  width: 100%;
}
.rt-table tr td:first-child {
  border-left: 0;
}
.rt-table tr td:last-child {
  border-right: 0;
}
.rt-table tr td {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #5c8596;
  padding: 12px;
  border: 1px solid #d9e7ed;
  border-bottom: 0;
}
.ok-big {
  margin-top: 50px;
}
.lesson-over-title {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #155873;
}
.lo-name {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #155873;
}
.lo-name span {
  color: #247ba0;
}
.lo-id {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8aabb9;
}
.home-work {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #5c8596;
  line-height: 1.5;
  margin-bottom: 10px;
}
.hw-info {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #155873;
  line-height: 1.8;
}
.h-edit {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
}
.h-edit a {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #36b1e5;
}
.h-title {
  font-family: 'SFU', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #5c8596;
}
.list-lesson-info {
  border-bottom: 1px solid #d9e7ed;
}
.list-lesson-info .wb-title,
.list-lesson-info .lo-id {
  display: inline-block;
  margin-right: 5px;
}
.number-people {
  font-family: 'SFU', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #8aabb9;
}
.number-people span {
  color: #155873;
}
.evaluation-list {
  text-align: center;
}
.evaluation-list .eval {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 40px;
  display: inline-block;
}
.evaluation-list .eval:first-child {
  background: #6a9bd9;
}
.evaluation-list .eval:nth-child(2) {
  background: #ff7343;
}
.evaluation-list .eval:nth-child(3) {
  background: #f2d04a;
}
.evaluation-list .eval:nth-child(4) {
  background: #84d17a;
}
.add-button {
  font-family: 'SFU', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #36b1e5;
}
.list-lesson-meta {
  margin-right: -15px;
  margin-left: -15px;
}
.list-lesson-meta .row {
  display: table;
  width: 100%;
  /*font-size: 0;*/
  margin: 0;
}
.list-lesson-meta .col-sm-4 {
  float: none !important;
  display: inline-block;
}
